.authdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 136, 188, 0.65) 0%, rgba(0, 136, 188, 0) 100%);
}
.authtitle {
    background: linear-gradient(to right, #38f0f0 50%, #3017cd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.authform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createacc {
    font-size: 28px;
    font-weight: 500;
}
.authdiv input {
    margin-top: 1rem;
    padding-inline: 1rem;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    background: linear-gradient(to right, #38f0f0, #3017cd);
    padding-top: 0.5rem;
}
.authdiv input::placeholder {
    color: black;
}