#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

.buttons {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 500;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-inline: 1rem;
  border-radius: 10px !important;
  transition: all 0.4s ease-in-out;
  color: #312e81 !important;
  background:#eff6ff !important;
  border: none;
  cursor: pointer;
  /* font-family: 'Gayathri', sans-serif; */
}
.buttons:hover {
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15))!important;
}
#pastsearchesdiv *, #addstocks, label {

}
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }