#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

.buttons {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0.75rem !important;
  padding-bottom: 0.375rem;
  padding-inline: 1rem;
  border-radius: 25px !important;
  transition: all 0.4s ease-in-out;
  color: black;
  background: linear-gradient(to right, #1CB5E0 0%, #000851 100%) !important;
  border: none;
  cursor: pointer;
  font-family: 'Gayathri', sans-serif;
}
.buttons:hover {
  background: linear-gradient(to right, red, white) !important;
}
#pastsearchesdiv *, #addstocks, label {
  text-shadow: 10px 10px 15px #111111;
}
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }