@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Gayathri', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
input {
  background-color: #333333 !important;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(360deg, #00d2ff 0%, #3a47d5 100%);
}
h1 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}